
<div class="container well top ">
    
    <form name="myForm" novalidate>
       <h1>Variant Detail</h1>
       <div class="row">
          <div class="form-group col-md-3">
             <input type="text" class="form-control input-md"  ng-model="$prdct.product.name" placeholder="Product Name" required="required"/>
          </div>
       </div>
       <div class="form-group row"  ng-repeat="x in $prdct.product.variant">
          <div class="form-group col-md-3" >
             <input type="text" class="form-control" ng-model="x.variantname" placeholder="variant Name" required="required"/>
          </div>
          <div class="form-group col-md-3">
             <tags-input ng-model="x.tags"  placeholder="Variant Value"></tags-input>
          </div>
          <div  class="form-group col-md-1" >
             <button type="button" class="form-control btn btn-primary" ng-click="$prdct.addbox($index)" ng-show="$last">+</button>
             <button type="button"  class="form-control btn btn-danger"  ng-click="$prdct.deleteRow($event,$index)" ng-show="$index != 0">-</button>
          </div>
       </div>
       <!-- <div  class="form-group" ><label><button type="button" ng-click="$prdct.addbox()">+</button><i class="helper"></i>Add variant Record
          </label></div> -->
       <div class="row">
          <div class="form-group col-md-3 discount1">
             <input type="number" class="form-control input-md"  ng-model="$prdct.product.discount" placeholder="discount in %" required="required"/>
          </div>
       </div>
       <div class="row">
          <div class="form-group col-md-3 sku">
             <input type="text" class="form-control input-md"  ng-model="$prdct.product.sku" placeholder="SKU" required="required"/>
          </div>
       </div>
       <div class="row">
          <div class="form-group col-md-3 sku">
             <textarea rows="4" class="form-control input-md"  ng-model="$prdct.product.description" placeholder="description" required="required"></textarea>
          </div>
       </div>
       <div class="row">
          <div class="form-group col-md-3 shipings">
             <label>Shiping Method</label>
             <select class="form-control" ng-change="$prdct.showbox($prdct.product.shiping.method)" ng-model="$prdct.product.shiping.method" required="required">
                <option value="Expedite" >Expedite</option>
                <option value="Normal">Normal</option>
             </select>
          </div>
          <div class="form-group col-md-3 shiping-value" ng-if="$prdct.visible">
             <input type="text"  class="form-control" ng-model="$prdct.product.shiping.price">
             <!--   <input type="text" ng-if =="$prdct.product.shiping.method=Normal" class="form-control"  ng-model="$prdct.product.shiping.price">-->  
          </div>
       </div>
       <div class="row">
          <div class="form-group col-md-3 cod">
             <label>COD</label>
             <select class="form-control" ng-model="$prdct.product.cod">
                <option>Yes</option>
                <option>No</option>
             </select>
          </div>
       </div>
       <div class="row submit">
          <div class="form-group col-md-1 button">
             <button type="submit" class="form-control btn-success" ng-disabled="myForm.$invalid"  ng-click="$prdct.save()">Submit</button>
          </div>
       </div>
    </form>
 </div>
 <div class="container">
    <table  class="table table-bordered table-hover">
       <thead >
          <tr class="info">
             <th>#</th>
             <th>Product Name</th>
             <th>Variant Data</th>
             <!--   <td><button type="button" class="btn btn-primary" ng-click="$prdct.edittext()">Edit</button></td><td><button type="button" class="btn btn-danger" ng-click="$prdct.delete()">Delete</button></td> -->
             <th>Discount</th>
             <th>Sku</th>
             <th>Description</th>
             <th>Expedite</th>
             <th>Price</th>
             <th>Cod</th>
             <th></th>
             <th></th>
          </tr>
       </thead>
       <tr ng-repeat="product in $prdct.products">
          <td>
             <input type="checkbox" ng-checked="product== '1'" ng-model="product.selected">
          </td>
          <td ng-bind="product.name"></td>
          <td>
             <span ng-repeat="var in product.variant">
                <p ng-bind="var.variantname"></p>
                <span ng-repeat="tag in var.tags" ng-init="index = $index">
                <span ng-bind="tag.text"></span>
                <span ng-if="index != var.tags.length-1">, 
                </span>
                </span>
             </span>
          </td>
          <td ng-bind="product.discount"></td>
          <td ng-bind="product.sku"></td>
          <td ng-bind="product.description"></td>
          <td ng-bind="product.shiping.method"></td>
          <td ng-bind="product.shiping.price"></td>
          <td ng-bind="product.cod"></td>
          <td>
             <p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" ng-click="$prdct.edittext(product)" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p>
          </td>
          <td>
             <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" ng-click="$prdct.delete()" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p>
          </td>
       </tr>
    </table>
 </div>
