<div class="container">
  <div class="row">
     <div class="col-md-4 variant-div1">
        <img src="assets/lib/braun-sk4_side-710x710.jpg">
        
     </div>
     <div class="col-md-5 div-top">
        <div class=" variant-div">
          <div class="row price-div1">
          <div class="col-md-8">
            <label class="lable-color">Title:</label><span ng-bind="$prdctdscrip.name"></span>

          </div>
          </div>
          <div class="row">
            <div class="col-md-3 price1 price-div">
                <label >$:</label><span ng-bind="$prdctdscrip.defaultPrice"></span>

            </div>

          </div>
           <span ng-repeat="x in $prdctdscrip.product.variant" ng-init="variantIndex=$index">
              <div> 
                 <p class="p1" ng-bind="x.variantname"></p>
              </div>
              <div class="row">
                 <div class="col-md-3" ng-repeat="tag in x.tags" ng-init="index=$index">
                    <button class="form-control" ng-class="{'active':tag.active=='Y'}" ng-bind="tag.text" ng-click="$prdctdscrip.variantpriceChanged(tag, index, variantIndex)"></button>
                 </div>
              </div>
           </span>
           <div class="row description-div">
             <div class="col-md-12">
              <label class="lable-color">Description:</label><span ng-bind="$prdctdscrip.description"></span>
             </div>
           </div>
        </div>
        <div class="row">
          <div class="col-md-4 buy-div">
              <button type="button" class="btn btn-success" ng-disabled="$prdctdscrip.disable" ng-click="$prdctdscrip.buynow()">Buy Now</button>
          </div>

        </div>
     </div>
  </div>

</div>