/*header{
font-size: 26px;
font-weight: bold;
background-color:	#5F9EA0;
color: white;
padding: 10px;
}
.container2{
	width: 100%;
	padding-top:10px;
}
.inventory{
    font-size: 20px;
    padding-top: 20px;
    margin-right: 20px;
}
.a{
    color: 	#F5F5DC;
}
.headr1{
padding-top: 3px;
}
.headr2{
    padding-top: 3px;
}*/
/*.head-1{
     height:56px;
    will-change: transform;
    width: 100%;
    z-index: 10;
    background-color: #2874f0;
}
.p3{
    color: white;
    padding-top: 13px;
    font-size: 20px;
    padding-left: 20px;
    font-family: 
}*/
/*#flipkart-navbar {
    background-color: #2874f0;
    color: #FFFFFF;
}

.row1{
    padding-top: 10px;
}

.row2 {
    padding-bottom: 20px;
}

.flipkart-navbar-input {
    padding: 11px 16px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 0 none;
    font-size: 15px;
}

.cart-svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px;
}

.upper-links {
    display: inline-block;
    padding: 0 11px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
    color: inherit;
    border: none;
    outline: none;
    font-size: 12px;
}
.links1{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
.upper-links1 {
    display: inline-block;
    padding: 0 0;
    padding-right: 30px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
    color: inherit;
    border: none;
    outline: none;
    font-size: 12px;
}



.links {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.links:hover {
    color: #fff;
    text-decoration: none;
}


.profile-li{
    padding-top: 2px;
}

.largenav {
    display: none;
    color: white;
    margin-bottom: -6px;
}

.smallnav{
    display: block;
}

.menu{
    cursor: pointer;
    color: white;
}

@media screen and (min-width: 768px) {
    .largenav {
        display: block;
    }
    .smallnav{
        display: none;
    }
    .smallsearch{
        margin: 0px;
    }
}*/
.div-container{
    background-color: #2874f0;
    color: #FFFFFF; 
    height: 70px; 
}
.h1-div{
    margin-top: 21px;
    color: white;
}
.largenav {
    display: none;
    color: white;
    margin-bottom: -6px;
}
.a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.a:hover {
    color: #fff;
    text-decoration: none;
}

.home-div{
    margin-top: 25px;
}
.inventory-div{
    margin-left: -25px;
}
.home-div1{
    margin-right: -16px;
}
