
.button{
  margin-top: -20px;
}
h1{
  margin-top: -19px;
  font-size: 24px;
  font-family: -webkit-body;
  color: 	#D2691E;
}
.top{
  margin-top: 10px;
}
.form-all {
  background: url('../lib/iStock_000066664411.jpg')
  no-repeat;
  background-size: cover;

  } 
  .submit{
    margin-top: 18px;
  }
  
  .dropinput{
    margin-top: 19px;
  }
  .cod{
    margin-top: -43px;
  }
  .discount1{
    margin-top: -18px;
  }
  .sku{
    margin-bottom: 15px;
  }
  .shipings{
    margin-top:-11px;
    margin-bottom: 50px;
  }
  .shiping-value{
    margin-top: 14px;

  }
 