img{
    background-size: cover;
}
.active{
    border: 2px solid #5f9ea0;
}
.variant-div{
    margin-top: 30px;
    height:329px; 
}
.price-div{
    padding-top: 10px;
}
.variant-div1{
    margin-top: 38px;
  /*  border-style: solid;
    border-width: 1px;
    border-color: gray;*/
   
}
.price1{
    background-color: #5f9ea0;
    color: white;
    box-shadow: 0 3px 16px 0 rgba(59, 189, 167, 0.6);
}
.price-div{
    padding-top: 4px;
    margin-left: 16px;
}
.p1{
    color: #5f9ea0;
    font-family: Impact;
    font-weight:lighter;
    font-size: 14px;
    margin-top: 10px;
}
.div-top{
      margin-left: 7px;
    
    margin-top: 38px;
}
.div-top:hover{
    box-shadow: 0 3px 16px 0 rgba(225, 231, 230, 0.45);
}
.description-div{
    margin-top: 12px;
}
.price-div1{
   margin-bottom: 10px;
}
.lable-color{
    color: #C08D72;
}
.variant-div1:hover{
    box-shadow: 0 3px 16px 0 rgba(225, 231, 230, 0.45);
   
}
.buy-div{
    margin-left: 81px;;
    margin-top: -47px;
}