    <div class="container">
    <div class="row">
       <div class="col-md-3 div1 " ng-repeat="data in  $prdctview.detail" >
          
          <div>
             <a ui-sref="app.description({id:data.productId})" >
                 <img src="assets/lib/braun-sk4_side-710x710.jpg"> </a>     
          </div>
          <div class="price">
                <span  ng-bind="data.name"></span>
            </div>

           <div>
          <label class="p1">$</label><span ng-bind="data.price"></span>
          </div> 
          
       </div>
    </div>
    <div class="row">
       <div class="col-md-3" ng-repeat="product in $prdctview.product">
            <div class="discount discount-div1">
                <span  ng-bind="product.discount"></span>% off</div>

       </div>
    </div>
    
 </div>   
    
      