       <!--  <div>
            <header>Inventory Management
        
                <span class="pull-right  headr1">
                          <a class="a" ui-sref=".product"> <span class="glyphicon glyphicon-home"></span>
                </a>
        
                </span>
                <span class="btn-group pull-right headr2">
                            
                          <a class="a" ui-sref=".inventory">
                                <span class="glyphicon glyphicon-exit"></span> inventory
                </a>
                </span>
                <span class="pull-right headr1">
                 <a class="a" ui-sref=".productviews">
                           <span class="glyphicon glyphicon-exit"></span> productviews
                </a>
                </span>
            </header>
        </div>-->
        
       <!-- <header class="head-1">
         <p class="p3">Inventory Management</p>
        </header>-->
        <!--<div id="flipkart-navbar">
                  <div class="container">
                     <div class="row row1">
                        <ul class="largenav pull-right">
                           <li class="upper-links"><a class="links"  ui-sref=".inventory"> inventory</a></li>
                           <li class="upper-links"><a class="links" ui-sref=".productviews">productviews</a></li>
                           <li class="upper-links1">
                              <a class="links1"ui-sref=".product">
                                 <svg class="" width="16px" height="12px" style="overflow: visible;">
                                          <span class="glyphicon glyphicon-home"></span>
                                 </svg>
                              </a>
                           </li>
                        </ul>
                     </div>
                     <div class="row row2">
                        <div class="col-sm-4">
                           <h2 style="margin:0px;"><span class="smallnav menu" >☰ Inventory Management</span></h2>
                           <h1 style="margin:0px;"><span class="largenav">Inventory Management</span></h1>
                        </div>
                     </div>
                  </div>
               </div>-->
         
               
              <div class="div-container">
                  <div class="container">
                  <div class="row">
                      <div class="col-md-4">
                        <h1 class="h1-div">Inventory Management</h1>
                      </div>
                      <div class="col-md-8">
                          <div class="col-mod-2 inventory-div home-div home-div1 pull-right">
                                <a class="a" ui-sref=".product"> <span class="glyphicon glyphicon-home"></span>
                                </a> 

                          </div>
                          <div class="col-md-2 inventory-div home-div pull-right">
                                <a class="a" ui-sref=".inventory">Inventory
                        </a>
                          </div>
                          <div class="col-md-2 home-div pull-right">
                            <a class="a" ui-sref=".productviews">Productview</a>
                          </div>
                      </div>

                  </div>
                  <div class="row">
                     <div class="col-md-4">
                         
                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        
                    </div> 

                  </div>
                  </div>
            </div> 