<div class="container well inventor ">
  <div class="row btnSearch">
    
     <div class="col-md-3 pull-right ">
        <select class="form-control" ng-model="$invnt.productlist" ng-change="$invnt.setProduct($invnt.productlist)">
           <option value="{{detail.Id}}" ng-repeat="detail in $invnt.productdetail" ng-bind="detail.name"></option>
        </select>
     </div>
  </div>
  <table class="table table-bordered table-hover">
     <thead >
        <tr class="info">
           <th class="text-center">Variant</th>
           <th class="text-center">Price</th>
           <th class="text-center">Inventory</th>
           <th class="text-center">Is-Default</th>
           <!--   <th>
              <select class="form-control" ng-model="$invnt.productlist" ng-change="$invnt.setProduct($invnt.productlist)">
                  <option value="{{detail.Id}}" ng-repeat="detail in $invnt.productdetail" ng-bind="detail.productname"></option>
              </select>
              </th>-->
        </tr>
     </thead>
     <tr ng-repeat="data in $invnt.inventory" >
        <td ng-bind="data.inventoryName"></td>
        <td><input type="number" ng-model="data.price" class="form-control"></td>
        <td><input type="number" ng-model="data.inventory" class="form-control"></td>
        <td><input type="radio"  name="default.value" value="Y" ng-model="data.default" ng-click="$invnt.setDefault(data)"></td>
     </tr>
     <!-- <button type="button" value="save" class="btn btn-success" ng-click="$invnt.saveInventory()">Save</button>-->
  </table>
  <div class="row">
   <div class="col-md-1 pull-right">
      <button type="button" value="save" class="btn btn-warning" ng-click="$invnt.resetInventory()">Reset</button>
   </div>
   <div class="col-md-1 pull-right">
    <button type="button" value="save" class="btn btn-success" ng-click="$invnt.saveInventory()">Save</button>
 </div>
  </div>
</div>